header {
  line-height: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
header nav a {
  margin: 0 14px;
  text-transform: uppercase;
  text-decoration: none;
}
header nav a.active {
  color: #ff54a1;
}
