.question {
  border-bottom: 1px solid #ddd;
  padding: 14px;
  transition: background 150ms ease-out;
}

.question.not-answered {
  background: rgba(255, 84, 161, 0.1)
}
.question p {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
}

.question:first-child p {
  margin-top: 0;
}

.question p small {
  opacity: .2;
}