button[type=button] {
  outline: none;
  background: #49abff;
  display: flex;
  color: #fff;
  flex-grow: 1;
  border: none;
  width: 100%;
  justify-content: center;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Fira Sans, sans-serif;
  cursor: pointer;
  transition: all 150ms ease-out;
}
button[type=button]:hover {
  background: #4196E2;
}
button[type=button]:active {
  background: #3D7DC5;
}
button[type=button][disabled]{
  opacity: .2;
}